pkgbase = decklink-sdk
	pkgdesc = Blackmagic DeckLink SDK
	pkgver = 12.2.2
	pkgrel = 1
	epoch = 1
	url = https://www.blackmagicdesign.com/support/family/capture-and-playback
	arch = any
	license = custom
	makedepends = poppler
	provides = blackmagic-decklink-sdk
	conflicts = blackmagic-decklink-sdk
	replaces = blackmagic-decklink-sdk
	source = Blackmagic_DeckLink_SDK_12.2.2.zip::https://sw.blackmagicdesign.com/DeckLink/v12.2.2/Blackmagic_DeckLink_SDK_12.2.2.zip?Key-Pair-Id=APKAJTKA3ZJMJRQITVEA&Signature=nrHXuCYG55pL2sSLGiEACeI5K9H//z+XW5V6TAR//NkdFzP0/cfmiz33V447lVOOcEuxdvhIn2bK5HhIlo+VRFVIqoMJ24qJVZ6Zx8BX6MQzNKAq88hXTVD6cZdqOiJzX10CmtvLaGrTQHBp60i+y+I9HM+A1Fach5a98M1HVxs1ehaEiA+9sw+EEMbgyPjt+S0nokmozWbFFUYkLMcV3QsZ7TDzDss9MMsJcgHe41R2zUvvLesfQ+Pidb2O4CdisMsYudAGiAlJCz5kNB68XIrFGmXRNvJy+Z+39q1cR044IX6HsJW6CUIMX939/USsp2vPZV+B47GmEpEyARxFeg==&Expires=1647362880
	sha256sums = 8241ec53be65d9e3c78aaa1cea9aef8efbc89ec76f132c66f37ea522195c957a

pkgname = decklink-sdk
